@font-face {
  font-family: 'PF Din Display Pro';
  src: url('../assets/fonts/pfdindisplaypro-thin-webfont.eot');
  src: url('../assets/fonts/pfdindisplaypro-thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/pfdindisplaypro-thin-webfont.woff') format('woff'),
  url('../assets/fonts/pfdindisplaypro-thin-webfont.ttf') format('truetype'),
  url('../assets/fonts/pfdindisplaypro-thin-webfont.svg#PFDinDisplayPro') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'PF Din Display Pro';
  src: url('../assets/fonts/pfdindisplaypro-light-webfont.eot');
  src: url('../assets/fonts/pfdindisplaypro-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/pfdindisplaypro-light-webfont.woff') format('woff'),
  url('../assets/fonts/pfdindisplaypro-light-webfont.ttf') format('truetype'),
  url('../assets/fonts/pfdindisplaypro-light-webfont.svg#PFDinDisplayPro') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'PF Din Display Pro';
  src: url('../assets/fonts/pfdindisplaypro-lightital-webfont.eot');
  src: url('../assets/fonts/pfdindisplaypro-lightital-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/pfdindisplaypro-lightital-webfont.woff') format('woff'),
  url('../assets/fonts/pfdindisplaypro-lightital-webfont.ttf') format('truetype'),
  url('../assets/fonts/pfdindisplaypro-lightital-webfont.svg#PFDinDisplayPro') format('svg');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'PF Din Display Pro';
  src: url('../assets/fonts/pfdindisplaypro-reg-webfont.eot');
  src: url('../assets/fonts/pfdindisplaypro-reg-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/pfdindisplaypro-reg-webfont.woff') format('woff'),
  url('../assets/fonts/pfdindisplaypro-reg-webfont.ttf') format('truetype'),
  url('../assets/fonts/pfdindisplaypro-reg-webfont.svg#PFDinDisplayPro') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PF Din Display Pro';
  src: url('../assets/fonts/pfdindisplaypro-med-webfont.eot');
  src: url('../assets/fonts/pfdindisplaypro-med-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/pfdindisplaypro-med-webfont.woff') format('woff'),
  url('../assets/fonts/pfdindisplaypro-med-webfont.ttf') format('truetype'),
  url('../assets/fonts/pfdindisplaypro-med-webfont.svg#PFDinDisplayPro') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PF Din Display Pro';
  src: url('../assets/fonts/pfdindisplaypro-bold-webfont.eot');
  src: url('../assets/fonts/pfdindisplaypro-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/pfdindisplaypro-bold-webfont.woff') format('woff'),
  url('../assets/fonts/pfdindisplaypro-bold-webfont.ttf') format('truetype'),
  url('../assets/fonts/pfdindisplaypro-bold-webfont.svg#PFDinDisplayPro') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PF Din Display Pro';
  src: url('../assets/fonts/pfdindisplaypro-black-webfont.eot');
  src: url('../assets/fonts/pfdindisplaypro-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/pfdindisplaypro-black-webfont.woff') format('woff'),
  url('../assets/fonts/pfdindisplaypro-black-webfont.ttf') format('truetype'),
  url('../assets/fonts/pfdindisplaypro-black-webfont.svg#PFDinDisplayPro') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'PF Din Text Cond Pro';
  src: url('../assets/fonts/PFDinTextCondPro-Medium.eot');
  src: url('../assets/fonts/PFDinTextCondPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/PFDinTextCondPro-Medium.woff') format('woff'),
  url('../assets/fonts/PFDinTextCondPro-Medium.ttf') format('truetype'),
  url('../assets/fonts/PFDinTextCondPro-Medium.svg#ab933453e51118ea1f999b96325cdc0c') format('svg');
  font-style: normal;
  font-weight: 500
}

@font-face {
  font-family: 'PF Din Text Cond Pro';
  src: url('../assets/fonts/PFDinTextCondPro-Regular.eot');
  src: url('../assets/fonts/PFDinTextCondPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/PFDinTextCondPro-Regular.woff') format('woff'),
  url('../assets/fonts/PFDinTextCondPro-Regular.ttf') format('truetype'),
  url('../assets/fonts/PFDinTextCondPro-Regular.svg#8b626f8231099d206993c58b11ed0014') format('svg');
  font-style: normal;
  font-weight: 400
}