.footer {
  padding: rem(30px 0 70px);
  color: $white;
  background-color: $dark;
  border-top: 1px solid $border-color;
  font-size: rem(14px);
  font-weight: normal;
  line-height: 2.86;

  @media all and (max-width: 767px) {
    text-align: center;
    padding: rem(20px 0);
  }
}

.copy {
  margin-bottom: 0;
}

.footer_links {
  list-style: none;
  font-size: rem(14px);
  font-weight: 500;
  line-height: 2.86;
  text-transform: uppercase;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 0;
  }

  a {
    color: $white;
    text-decoration: none;

    &:hover {
      color: $secondary;
    }
  }

  &--highlight {
    a {
      color: $primary;
    }
  }

  @media all and (max-width: 767px) {
    margin-bottom: rem(10px);

    li {
      display: inline-block;
      position: relative;
      line-height: 1;

      + li {
        border-left: 1px solid rgba($white, 0.4);
      }

      a {
        padding: rem(20px 10px);
      }
    }
  }
}