.navbar {
  padding-top: rem(10px);
  padding-bottom: rem(10px);
  border-bottom: 1px solid $border-color;
  background-color: $dark;
  position: fixed;
  z-index: 91;
  top: 0;
  left: 0;
  width: 100%;

  @media (max-width: 991px) {
    height: 56px;
  }

  @media (max-width: 767px) {
    height: 59px;
  }
}

.navbar-brand {
  padding: 0;
  margin-top: rem(-12px);

  img {
    width: rem(168px);
  }
}

.navbar-toggler {
  width: 24px;
  height: 24px;
  padding: 7px;
  position: absolute;
  top: 8px;
  right: 9px;
  z-index: 101;
  display: inline-block;
  vertical-align: middle;
  box-sizing: content-box;
  margin-right: 0;
  border: 0;
  outline: none !important;
  transition: none;

  i {
    display: block;
    position: absolute;
    width: 20px;
    right: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    border-radius: 4px;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.68,-.55,.265,1.55);
    transition-duration: .275s;
    background-color: $white;

    &:first-child {
      top: 14px;
    }

    &:last-child {
      top: 24px;
      transition: transform .275s cubic-bezier(.68,-.55,.265,1.55);
    }
  }

  &:not(.collapsed) i {
    background-color: $white !important;
    width: 20px;
    opacity: 0;
    transform: scale(0);

    &:first-child  {
      opacity: 1;
      transition-delay: 75ms;
      transform: translate3d(0,5px,0) rotate(45deg);
    }

    &:last-child {
      opacity: 1;
      transition-delay: 75ms;
      transform: translate3d(0,-5px,0) rotate(-45deg);
    }
  }

  @media (max-width: 991px) {
    &:not(.collapsed) {
      position: fixed;
    }
  }

  @media (max-width: 767px) {
    top: 10px;
  }
}

.nav-item {
  font-size: rem(14px);
  font-weight: 500;
  line-height: 2.86;
  text-transform: uppercase;

  @media (max-width: 991px) {
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
    transform: translate3d(0, 15px, 0);

    .show &,
    .collapsing & {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0);

      &:nth-child(1) {
        transition-delay: .1s;
      }
      &:nth-child(2) {
        transition-delay: .15s;
      }
      &:nth-child(3) {
        transition-delay: .2s;
      }
      &:nth-child(4) {
        transition-delay: .25s;
      }
      &:nth-child(5) {
        transition-delay: .3s;
      }
      &:nth-child(6) {
        transition-delay: .35s;
      }
      &:nth-child(7) {
        transition-delay: .40s;
      }
    }
  }
}

.nav-item-action {
  .nav-link {
    color: $primary  !important;

    &:hover {
      color: $secondary !important;
    }
  }
}

.navbar-dark {
  .navbar-nav {
    padding-right: 0;
    margin-right: -20px;

    .nav-link {
      color: $white;
      transition: $transition-base;

      &:hover, &.active, .active & {
        color: $secondary;
      }
    }
  }

  .navbar-text {
    color: $white;
  }
}

.nav-divider {
  margin-top: rem(-10px);
  margin-bottom: rem(-10px);
  border-left: 1px solid $border-color;
}

.navbar-text {
  position: fixed;
  padding: rem(0 30px);
  top: 0;
  left: 0;
  right: 0;
  height: rem(65px);
  border-bottom: 1px solid $border-color;
  font-family: $font;
  font-size: rem(20px);
  line-height: rem(65px);
  font-weight: 500;
  color: $white;
  opacity: 1;
  text-align: left;
  text-transform: uppercase;
  background-color: $dark;

  @media all and (max-width: 767px) {
    text-align: center;
    height: 60px;
    line-height: 61px;
    padding: rem(0 70px);
  }
}

.navbar-collapse {
  @media all and (max-width: 992px) {
    position: fixed;
    padding: 0;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $dark;
    overflow: auto;
    height: 100% !important;
    opacity: 0;
    display: block !important;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease !important;

    .nav-inner {
      padding: rem(65px 30px 20px);
    }

    .nav-divider {
      display: none;
    }

    .navbar-nav {
      padding: rem(30px 0);
    }

    .nav-item {
      font-size: rem(18px);
    }

    &.show, &.collapsing {
      opacity: 1;
      visibility: visible;
    }
  }

  @media all and (max-width: 767px) {
    text-align: center;

    .navbar-nav {
      padding: rem(50px 0);
      position: static;
    }

    .nav-inner {
      height: 100%;
      min-height: 580px;
      position: relative;
    }

    .nav-item {
      font-size: rem(24px);
      line-height: 2;
      text-transform: none;
    }

    .nav-item-action {
      padding: 14px;
      position: absolute;
      bottom: 78px;
      width: 100%;
      left: 0;
      text-transform: uppercase;
      font-size: rem(16px);
      background-color: $dark;
      border-top: 1px solid $border-color;

      + .nav-item-action {
        bottom: 0;
      }
    }
  }
}

.nav-inner {
  @media all and (min-width: 992px) {
    flex-grow: 1;
    align-items: center;
    display: flex !important;
    flex-basis: auto;
  }
}