.container-fluid {
  max-width: 1250+30px;
}

.lead {
  color: rgba($white, .6);
  font-size: rem(20px);
  line-height: 1.3;
  margin-bottom: rem(55px);

  @media all and (max-width: 580px) {
    margin-bottom: rem(25px);
  }
}

.btn {
  font-family: $font;
  border-radius: 0;
  font-weight: 600;
  text-transform: uppercase;
  min-width: 200px;

  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
}

.btn-lg {
  border-radius: 0;
  font-weight: 600;
  padding: rem(10px 16px 8px);
}
