.bg-dark {
  background: $dark !important;
  color: $white;

  + .bg-dark {
    border-top: 1px solid $border-color;
  }
}

.section {
  overflow: hidden;
  padding: rem(110px 0);


  @media all and (max-width: 767px) {
    padding: rem(80px 0);
  }

  @media all and (max-width: 580px) {
    padding: rem(40px 0);
    text-align: center;

    .container-fluid {
      width: 320px;
      max-width: 100%;
    }
  }
}

.intro {
  padding: rem(100px 0);
  margin-top: rem(76px);

  .lead {
    max-width: 300px;
  }

  .btn {
    min-width: 200px;
  }

  @media all and (max-width: 991px) {
    margin-top: 55px;
  }

  @media all and (max-width: 767px) {
    padding: rem(80px 0);
    margin-top: 58px;
  }

  @media all and (max-width: 580px) {
    padding: rem(40px 0);

    .img-container {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}

.features {
  .img-container {
    text-align: center;
    margin: 3rem 0;
  }
}

.features_list {
  .slick-dots {
    li button {
      background-color: rgba($dark, .1);
    }
  }

  @media all and (min-width: 768px) {
    .row {
      margin-left: -30px;
      margin-right: -30px;

      > div {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
}

.features_item {
  margin: rem(60px 0 0);

  &__num {
    font-size: rem(40px);
    line-height: 1.2;
    font-family: $font-headings;
    color: $primary;
  }

  &__image {
    margin-bottom: rem(40px);
    height: 160px;
    line-height: 160px;
    text-align: center;

    img {
      max-width: 100%;
      vertical-align: middle;
      display: inline-block;
    }
  }

  &__text {
    opacity: .8;
  }

  @media all and (max-width: 580px) {
    margin-top: rem(10px);
    margin-bottom: rem(40px);

    .slick-list & {
      margin-bottom: rem(20px);
    }

    &__inner {
      padding: rem(0 10px);
    }

    &__num {
      display: block;
      margin-bottom: rem(-10px);
      font-size: rem(30px);
    }

    &__image {
      margin-bottom: rem(28px);
    }
  }
}

.how-it-works {
  background: $soft-blue;
}

.key-features {
  padding-bottom: rem(65px);

  .features_item {
    margin: rem(33px 0 27px);

    &__image {
      margin-bottom: rem(30px);
      will-change: transform;
      transform: scale(.95) translate3d(0,0,0);
      transition: transform .3s ease;
    }

    &__title {
      padding: 0 rem(10px);
    }

    &:hover {
      .features_item__image {
        transform: scale(1.01) translate3d(0,0,0);
      }
    }
  }

  @media all and (max-width: 580px) {
    padding-bottom: rem(40px);

    .features_item {
      margin-top: rem(10px);
      margin-bottom: rem(40px);

      &__image {
        margin-bottom: rem(20px);
      }
    }

    .slick-list .features_item {
      margin-bottom: rem(20px);
    }
  }
}

.features {
  padding-bottom: rem(85px);

  .features_item {
    margin: rem(40px 0 70px);

    &__image {
      height: 64px;
      line-height: 64px;
    }

    &__inner {
      width: 150px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media all and (max-width: 580px) {
    padding-bottom: rem(40px);

    .features_item {
      margin-top: rem(10px);
      margin-bottom: rem(40px);

      &__image {
        margin-bottom: rem(20px);
      }

      &__inner {
        padding: 0;
      }
    }

    .slick-list .features_item {
      margin-bottom: rem(20px);
    }
  }
}

.announce-text {
  padding: rem(10px 0);
  line-height: 1.3;
  margin-bottom: 0;
}

.customer-stories {
  text-align: center;

  @media all and (max-width: 580px) {
    .slick_slider {
      margin-top: rem(50px);
    }
  }
}

.fancy-map {
  padding: rem(195px 0 150px);

  h2 {
    margin-bottom: rem(35px);
  }

  .container-fluid {
    position: relative;
  }

  .map_container {
    position: absolute;
    left: 28%;
    top: 50%;
    transform: translate3d(0, -55%, 0);

    img {
      pointer-events: none;
      max-width: 100%;
    }
  }

  &__city {
    padding-left: 24px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    font-size: rem(18px);
    font-weight: bold;
    text-transform: uppercase;
    transition: opacity .5s ease;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: rem(-7px);
      width: rem(14px);
      height: rem(14px);
      border-radius: 10px;
      background-color: $primary;
    }
  }

  @media all and (max-width: 991px) {
    &__city {
      font-size: 14px;

      &:last-child {
        padding-left: 0;
        padding-right: 24px;
        transform: translate(-90%, 0);

        &:before {
          left: auto;
          right: 0;
        }
      }
    }
  }

  @media all and (max-width: 580px) {
    padding: rem(50px 0 320px);

    .map_container {
      top: 165px;
      width: 570px;
      left: 50%;
      right: auto;
      transform: translate3d(-58%, 0, 0);
    }
  }
}

@for $i from 1 through 9 {
  .fancy-map__city {
    &:nth-child(#{$i}) {
      transition-delay: $i * (1s / 6);
    }
  }
}


.banner {
  padding: rem(70px 0 90px);

  .img-container {
    margin-bottom: rem(14px);
  }

  img {
    max-width: 100%;
  }

  h2 {
    margin-bottom: rem(10px);
  }

  h4 {
    margin-bottom: rem(34px);
  }

  @media all and (max-width: 580px) {
    padding: rem(60px 0);

    img {
    }

    h4 {
      font-size: rem(20px);
      margin: rem(15px 0 25px);
    }

    .img-container {
      margin: rem(0 -150px 40px);
    }
  }
}

.pricing {
  &__group {
    margin-top: rem(40px);
  }

  .slick-dots {
    li button {
      background-color: rgba($dark, .1);
    }
  }

  @media all and (min-width: 580px) {
    .row {
      margin-left: -40px;
      margin-right: -40px;

      > div {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }

  @media all and (max-width: 580px) {
    &__group {
      margin-top: 0;
      margin-bottom: rem(20px);
    }
  }
}

.pricing_list {
  margin-bottom: rem(15px);
  border-top: 1px solid rgba($black, .15);
  font-family: $font-headings;
  font-size: rem(18px);
  font-weight: normal;
  line-height: normal;
  color: $dark;
  text-align: left;

  @include list-unstyled;
}

.pricing_item {
  position: relative;
  padding: rem(13px 30px 13px 0);
  border-bottom: 1px solid rgba($black, .05);

  &:after {
    content: '';
    position: absolute;
    right: 2px;
    top: 50%;
    margin-top: rem(-12px);
    width: rem(24px);
    height: rem(24px);
    background: url(../images/check.svg) no-repeat center;
    background-size: contain;
  }
  
  &--muted {
    color: $gray;

    &:after {
      display: none;
    }
  }
}

.pricing_footer {
  font-family: $font-headings;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: rem(20px);

  &__num {
    font-size: rem(60px);
    font-weight: 500;
    line-height: 1.1;
    margin-right: rem(18px);
  }

  @media all and (max-width: 580px) {
    text-align: center;

    &__num {
      margin-right: 0;
      display: block;
    }
  }
}

.map_layer {
  &--0 {
    .fancy-map__city {
      opacity: 1;

      &:nth-child(2n) {
        opacity: 0;
      }
    }
  }
  &--1 {
    .fancy-map__city {
      opacity: 0;

      &:nth-child(3n) {
        opacity: 1;
      }
    }
  }
  &--2 {
    .fancy-map__city {
      opacity: 0;

      &:nth-child(2n) {
        opacity: 1;
      }
    }
  }
  &--3 {
    .fancy-map__city {
      opacity: 0;

      &:nth-child(2n) {
        opacity: 1;
      }

      &:nth-child(3n) {
        opacity: 0;
      }
    }
  }
}

.bubble {
  top: 0;
  right: 100%;
  position: absolute;
  padding: rem(16px);
  background-color: $white;
  border-radius: 12px;
  white-space: nowrap;
  display: inline-block;
  box-shadow: 0 15px 32px rgba($dark, .2);
  z-index: 11;
  font-size: 16px;
  color: $primary;
  font-weight: 500;
  opacity: 0;
  transition: opacity .4s ease;

  &:after {
    content: '';
    width: 20px;
    height: 20px;
    right: 20px;
    bottom: -7px;
    border-radius: 100px;
    position: absolute;
    background-color: $white;
  }

  &__tale {
    width: 13px;
    height: 13px;
    right: 14px;
    bottom: -22px;
    position: absolute;
    border-radius: 100px;
    background-color: $white;
    box-shadow: 0 15px 32px rgba($dark, .35);

    &:after {
      content: '';
      width: 8px;
      height: 8px;
      right: -6px;
      bottom: -10px;
      position: absolute;
      border-radius: 100px;
      background-color: $white;
      box-shadow: 0 15px 32px rgba($dark, .35);
    }

    &:before {
      content: '';
      width: 6px;
      height: 6px;
      right: -12px;
      bottom: -18px;
      position: absolute;
      border-radius: 100px;
      background-color: $white;
      box-shadow: 0 15px 32px rgba($dark, .35);
    }
  }
}


.trump {
  position: fixed;
  bottom: -20px;
  right: 6%;
  z-index: 90;
  opacity: 0;
  transform: translate3d(0,100%,0);
  transition:  all .2s ease;

  &__pic {
    transform: rotateY(180deg);
  }

  .bubble {
    transition: all .3s ease;
    transform: translate3d(10px,10px,0) scale(.9);
  }

  &--show {
    opacity: 1;
    transform: translate3d(0,0,0);

    .bubble {
      opacity: 1;
      visibility: visible;
      transition-delay: .3s;
      transform: translate3d(0,0,0) scale(1);
    }
  }

  .body--mobile {
    display: none;
  }

  @media all and (max-width: 767px) {
    display: none;
  }
}

._hover_animation:hover {
  ~ .trump {
    opacity: 1;
    transform: translate3d(0,0,0);

    .bubble {
      opacity: 1;
      visibility: visible;
      transition-delay: .3s;
      transform: translate3d(0,0,0) scale(1);
    }
  }
}

@media all and (min-width: 581px) {
  .inview_item {
    transform: translate3d(0, 100px, 0);
    transition: opacity .5s ease, transform .5s ease;
    opacity: .0;

    .inview--scale & {
      transform: scale(.8);
    }

    .show & {
      opacity: 1;
      transform: translate3d(0, 0, 0) scale(1);
    }

    &--1 {
      transition-delay: .1s;
    }

    &--2 {
      transition-delay: .2s;
    }

    &--3 {
      transition-delay: .3s;
    }

    &--4 {
      transition-delay: .4s;
    }

    &--5 {
      transition-delay: .5s;
    }

    &--6 {
      transition-delay: .6s;
    }

    &--7 {
      transition-delay: .7s;
    }
  }
}