/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;

  * {
    outline: none !important;
  }
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  [dir="rtl"] & {
    float: right;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}

$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.5 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 18px;
  width: 28px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  z-index: 80;
  opacity: $slick-opacity-default;

  &:hover, &:focus {
    outline: none;
    opacity: $slick-opacity-on-hover;
  }

  &.slick-disabled {
    opacity: $slick-opacity-not-active;
  }

  @media all and (max-width: 580px) {
    display: none !important;
  }
}

.slick-prev {
  left: 25px;
  background: url('/images/arrow-left.svg') no-repeat center;
}

.slick-next {
  right: 25px;
  background: url('/images/arrow-right.svg') no-repeat center;
}

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;

  li {
    position: relative;
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;

    button {
      border: 0;
      display: block;
      height: 100%;
      width: 100%;
      outline: none;
      line-height: 0;
      font-size: 0;
      color: transparent;
      cursor: pointer;
      border-radius: 10px;
      padding: 0;
      background-color: rgba($white, .1);

      &:hover, &:focus {
        outline: none;

        &:before {
          opacity: $slick-opacity-on-hover;
        }
      }
    }

    &.slick-active button {
      opacity: 1;
      background-color: $primary !important;
    }
  }
}

.slick_slider {
  width: 100%;
  display: block;
  padding: rem(10px 0 40px);
  flex: none;
  transform: translate3d(0,0,0);
}

.slider_item {
  &__inner {
    width: 600px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  &__image {
    margin-bottom: rem(20px);
  }

  &__title {
    margin-bottom: rem(10px);
  }

  &__desc {
    margin-bottom: rem(30px);
    color: rgba($white, .6)
  }

  &__text {
    margin-top: rem(30px);
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
  }

  @media all and (max-width: 580px) {
    &__image {
      margin-bottom: rem(35px);

      img {
        width: 150px;
      }
    }
  }
}