h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-headings;
  font-weight: 500;
}

h1, .h1 {
  margin-bottom: rem(45px);
  font-size: rem(72px);
  line-height: 0.92;

  @media all and (max-width: 767px) {
    font-size: rem(50px);
  }

  @media all and (max-width: 580px) {
    margin-bottom: rem(25px);
    font-size: rem(40px);
    text-align: center;
  }
}

h2, .h2 {
  margin-bottom: rem(45px);
  font-size: rem(50px);
  line-height: 0.92;

  @media all and (max-width: 580px) {
    margin-bottom: rem(30px);
    font-size: rem(40px);
    text-align: center;
  }
}

h3 {
  margin-bottom: rem(30px);
  font-size: rem(40px);
  line-height: 1.2;

  @media all and (max-width: 580px) {
    margin-bottom: rem(12px);
    font-size: rem(30px);
  }
}

h4 {
  margin-bottom: rem(20px);
  font-size: rem(30px);
  line-height: 1.13;
}

h5 {

}

h6 {

}
