// Colors
$dark: #1c2738;
$soft-blue: #f0f5fd;
$white: #fff;
$primary: #e73e07;
$secondary: #fbb900;
$gray: #8893a3;

// UI
$bg-color: $white;
$border-color: rgba($white,.1);


// Fonts
$font: "PF Din Display Pro", sans-serif;
$font-headings: "PF Din Text Cond Pro", sans-serif;
