@import '../../node_modules/bootstrap/scss/functions';
$primary: #e73e07;
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
@import "../../node_modules/bootstrap/scss/utilities";
@import '../../node_modules/bootstrap/scss/reboot';
@import '../../node_modules/bootstrap/scss/type';
@import '../../node_modules/bootstrap/scss/grid';
@import '../../node_modules/bootstrap/scss/buttons';
@import '../../node_modules/bootstrap/scss/forms';
@import '../../node_modules/bootstrap/scss/navbar';
@import '../../node_modules/bootstrap/scss/nav';
@import '../../node_modules/bootstrap/scss/transitions';

@import "fonts";
@import "mixins";
@import "variables";
@import "overrides";
@import "type";
@import "nav";
@import "footer";
@import "slider";
@import "section";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  @media all and (min-width: 768px) and (max-width: 1210px) {
    font-size: 14px;
  }
}

body {
  color: $dark;
  background-color: $bg-color;
  font-size: rem(18px);
  font-family: $font;
  font-weight: 300;
  line-height: 1.44;
}

a {
  transition: $transition-base;
}

#dom_overlay_container {
  pointer-events: none;
  overflow: hidden;
  width: 834px;
  height: 400px;
  position: absolute;
  left: 0;
  top: 0;
  display: block;

  @media all and (max-width: 580px) {
    width: 504px;
    height: 240px;
  }
}


#animation_container {
  margin-top: rem(85px);
  width: 834px;
  height: 400px;

  @media all and (max-width: 767px) {
    width: 100% !important;
    margin-left: -20px;
  }

  @media all and (max-width: 580px) {
    padding: 0;
    width: auto !important;
    height: 240px;
    margin-top: 10px;
    margin-left: -100px;
    margin-right: -100px;
  }
}